html, body, body * {
  font-family: "Source Han Sans SC", "Source Han Sans", "Noto Sans CJK SC", "Noto Sans SC", "思源黑体", "PingFang SC", "Microsoft YaHei", sans-serif !important;
}

input, textarea, select, button {
  font-family: "Source Han Sans SC", "Source Han Sans", "Noto Sans CJK SC", "Noto Sans SC", "思源黑体", "PingFang SC", "Microsoft YaHei", sans-serif !important;
}
